/**
PAGE - theme related changes
 */
body {
  background: #eee;
  font-family: "Poppins","Segoe UI", Arial, sans-serif;
}

.table tbody tr td {
  padding-top: 8px;
  padding-left: 17px;
  padding-bottom: 8px;
  vertical-align: middle;
  font-size: 12.5px;
}

.table thead tr th {
  font-weight: bold;
}

.form-horizontal .form-group .control-label {
  opacity: 0.9;
}

.form-horizontal .form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control, .form-search, .form-search:focus {
  font-family: Poppins, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.02em;
}

.form-control[disabled], .form-search[disabled], .form-control[readonly], .form-search[readonly], fieldset[disabled] .form-control, fieldset[disabled] .form-search {
  color: rgba(98, 98, 98, 0.74);
}

.pagination {
  padding-top: 10px;
}

.card.card-transparent {
  border: 1px solid #e6e6e6;
}

.table thead tr th {
  width: auto !important;
}

.table thead tr th:first-child {
  padding-left: 15px !important;
}

.login-wrapper .bg-pic > img {
  opacity: 1 !important;
}

.login-wrapper {
  background-color: #ffffff;
}

/** 
  Sidebar menu
*/
/* .page-sidebar{
  .sidebar-menu {
    .menu-items {
      > li {
        .icon-thumbnail {
          float: left;
        }
      }
    }
  }
} */
.page-link {
  color: #f0bd8a;
}

.page-item.active .page-link {
  color: #fffcf9;
  background-color: #c09f70;
  border-color: #c09f70;
}

.page-link:focus, .page-link:hover {
  color: #faa855;
}

.btn, .btn-search, .btn-search:active {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  letter-spacing: 0.03em;
}

.btn-primary, .btn-primary:focus, .btn-primary:hover, .btn-primary:active, .dropdown-toggle.btn-primary, .btn-primary:active:hover {
  font-size: 12px;
  color: #fff;
  background-color: #ffad59e3;
  border-color: #ffad59e3;
}

.show {
  font-size: 12px;
  background-color: #ffad59e3;
  border-color: #ffad59e3;
}

.btn-primary:hover {
  background-color: #f8a34ef1;
  border-color: #f8a34ef1;
}

.btn-complete, .btn-complete:focus {
  color: #48b0f7;
  background-color: transparent;
  border-color: #48b0f7;
}

.btn-complete .btn-grd, .btn-complete:focus .btn-grd {
  font-family: Poppins, sans-serif;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0.01em;
}

.btn-success, .btn-success:focus {
  color: #10cf59;
  background-color: transparent;
  border-color: #10cf59;
}

.btn-danger, .btn-danger:focus {
  color: #f55753;
  background-color: transparent;
  border-color: #f55753;
}

.btn-search, .btn-search:active {
  color: #ccc;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
}

.btn-search:hover {
  color: #635959;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
}

.label-info {
  background-color: transparent;
  color: #0275d8;
  font-size: 12px;
  font-weight: 100;
}

.label-important, .label-danger {
  background-color: transparent;
  color: #eb7374;
  font-size: 12px;
  font-weight: 100;
}

/* Form Label */
.form-group label:not(.error) {
  text-transform: capitalize;
}

/* Rounded Form Input */
.form-rounded {
  border-radius: 1rem !important;
}

.form-search, .form-search:focus {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
}

.form-bottom-only {
  outline: 0;
  border-width: 0 0 1px;
  border-color: #ccc;
}

/*
  Chagnes done by Lasitha
  started : 25 June 2018
  last edit: 25 June 2018
  */
.page-header {
  padding: 0 0 10px;
}

.page-header .card-title {
  font-size: 16px;
  letter-spacing: 0.02em;
  /* font-weight: 200; */
  font-family: 'Poppins', sans-serif;
}

.page-header .card-title a.go-back {
  display: inline-block;
  border: 1px solid #ddd;
  color: #626262;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
}

.page-header .card-title a.go-back:hover {
  color: #0090d9;
  border-color: #0090d9;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-header .card-title span i {
  font-size: 12px;
  color: #999;
  padding: 0 10px;
}

.page-header .card-sub-title {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6px;
}

.card .card-header .card-title {
  font-family: 'Poppins','Montserrat', sans-serif;
  letter-spacing: 0.06em;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.feature-card h6 {
  font-size: 12px;
  text-transform: uppercase;
}

.feature-card hr {
  margin: 25px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.feature-card hr.transparent {
  border: 0px;
  overflow: hidden;
}

.feature-card .address-info {
  padding-top: 25px;
}

.feature-card .fd-logo {
  float: left;
}

.feature-card .fd-name {
  font-size: 21px;
}

.feature-card .fd-hold {
  vertical-align: middle;
}

.feature-card .fd-code {
  font-weight: bold;
}

.feature-card .fd-info {
  float: left;
}

.feature-card .fd-info p {
  line-height: 1;
}

.feature-card .card-special {
  border: 1px solid #efefef;
}

.footer-buttons {
  margin-top: 20px;
  margin-bottom: 25px;
}

.card-special {
  border: 0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-special.card-shadow {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.card-special .form-group {
  border: 0px !important;
  background: #fff !important;
}

.card-special .form-group * {
  opacity: 1 !important;
}

.card-special .form-group input,
.card-special .form-group select {
  padding: 20px 15px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-top: 10px;
}

.card-special .form-group input[type="file"] {
  padding: 10px;
  height: 42px;
}

.card-special .form-group input[type="radio"] {
  float: left;
}

.card-special .form-group .radio-labels {
  padding-bottom: 10px;
}

.card-special .form-group .select2 {
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-top: 10px;
}

.pagination-div {
  margin-bottom: 20px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.radio-padding {
  padding-top: 3%;
}

.table-borderless td, .table-borderless th {
  border: none !important;
}

.table-grid-holder {
  position: relative;
}

.table tbody {
  font-family: "Poppins","Segoe UI", Arial, sans-serif;
  letter-spacing: 0.03em;
}

table.dataTable {
  max-width: 100% !important;
}

.dataTables_wrapper .row > div {
  overflow-x: auto;
  overflow-y: hidden;
}

.item-card {
  padding: 0 30px 0 0;
}

.item-card .item-details {
  font-size: 14px;
  line-height: 27px;
}

.item-card .item-name {
  font-size: 19px;
  line-height: 40px;
  vertical-align: middle;
}

.item-card .item-info {
  float: left;
}

.item-card .item-code {
  font-weight: bold;
}

.item-card .item-status {
  vertical-align: middle;
  margin-left: 1%;
}

body.menu-pin .page-sidebar .menu-items .icon-thumbnail {
  display: none;
}

.menu-pin .page-sidebar .sidebar-menu .menu-items > li > a {
  padding-left: 20px;
  color: #191919;
  width: 100%;
}

.menu-pin .page-sidebar .sidebar-menu .menu-items > li > a .title {
  width: 80%;
}

.page-sidebar {
  background-color: #191919;
}

.page-sidebar a, .page-sidebar button,
.page-sidebar a:visited, .page-sidebar a:focus, .page-sidebar button:visited, .page-sidebar button:focus {
  color: rgba(255, 255, 255, 0.9);
}

.menu-items > li > a {
  width: 80%;
}

.page-sidebar .sidebar-menu .menu-items > li > a {
  letter-spacing: 0.03em;
  font-size: 13.5px;
  font-weight: normal;
  font-family: Poppins, Arial, sans-serif;
  color: #fff;
}

.menu-pin .page-sidebar .sidebar-menu .menu-items > li > a {
  color: #fff;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li > a {
  font-size: 12px;
  font-family: Poppins, Arial, sans-serif;
}

.page-sidebar .sidebar-menu .menu-items > li > a > .arrow:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-sidebar .sidebar-menu .menu-items > li > a > .arrow.open:before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.page-sidebar .sidebar-menu .menu-items li .sub-menu a {
  width: 90%;
}

.page-sidebar .sidebar-header {
  background: #1f1f1f;
  color: #ffa344;
  height: initial;
}

.page-sidebar .sidebar-header h3 {
  color: #ffa344;
  font-size: 14px;
  margin-top: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.page-sidebar .sidebar-header h3 a {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
}

.page-container .page-content-wrapper .content {
  padding-top: 0;
}

.padding-20-top {
  padding-top: 30px;
  padding-bottom: 20px;
}

.page-header.customized {
  padding: 0 30px 0 0;
}

.form-group label:not(.error) {
  font-family: 'Poppins';
  font-size: 12.5px;
}

.semi-bold h1, .semi-bold h2, .semi-bold h3, .semi-bold h4, .semi-bold h5, .semi-bold h6 {
  font-family: "Poppins","Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dashboard-fd-child .dataTables_wrapper .row {
  width: initial;
}

.fd-highlight {
  border-radius: 5px;
}

.fd-highlight.card-light-blue {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#193451+0,3351a5+100,21396d+100 */
  background: #193451;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #193451 0%, #3351a5 100%, #21396d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193451', endColorstr='#21396d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.fd-highlight.card-light-yellow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2b21d+0,ffe71d+100 */
  background: #f2b21d;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f2b21d 0%, #ffe71d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b21d', endColorstr='#ffe71d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.fd-highlight.card-pale-red {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d12b2b+0,f44c46+100 */
  background: #d12b2b;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d12b2b 0%, #f44c46 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d12b2b', endColorstr='#f44c46',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.fd-highlight * {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.fd-highlight .card-header .card-title {
  font-size: 14px;
}

.fd-logo-holder {
  max-width: 100px;
  margin-right: 20px;
  display: block;
  float: left;
}

.fd-service-request .btn, .fd-service-request .btn-search {
  width: 100%;
  margin-top: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
}

.dataTables_filter .input-sm {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #ccc;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-size: 12px;
}

#staff-dashboard-search {
  padding-top: 2%;
}

#staff-dashboard-search .form-group {
  border-bottom: none;
}

.report-title {
  font-size: 16px;
  font-weight: bold;
}

.report-details {
  font-size: 12px;
  padding-top: 3%;
}

.card-input {
  margin-top: 0px !important;
  padding: 15px 10px !important;
}
